.card {
    height: 22vh;
    aspect-ratio: 1 / 1.2; 
    border: 1px;
    border-color: black;
    border-style: solid;
}

.card-stats-container {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.friend {
    background-color: blue;
}

.enemy {
    background-color: red;
}

.blocked {
    background-color: #444444;
}

.empty {
    background-color: lightgray;
}

.card.friend:hover {
    background-color: cornflowerblue;
}

.card.enemy:hover {
    background-color: rgb(227, 111, 100)
}

.card.empty:hover {
    background-color: lightgreen;
}

.stat-row {
    height: 4.4vh;
    display: flex;
}

.stat {
    display: flex;
    height: 2.64vh;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-size: 2.64vh;
    font-style: normal;
    color: goldenrod;
}

.border {
    position: absolute;
    background-color: grey;
    z-index: 0;
}

.border.n {
    height: 1vh;
    width: 100%;
    top: 0px;
}

.border.e {
    height: 22vh;
    aspect-ratio: 1 / 22;
    right: 0px;
}

.border.s {
    height: 1vh;
    width: 100%;
    bottom: 0px;
}

.border.w {
    height: 22vh;
    aspect-ratio: 1 / 22;
    left: 0px;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    z-index: 1;
}

.arrow.n {
  width: 0;
  height: 0;
  border-bottom-width: 1.414vh; /*sets height*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  top: 0px;
}

.arrow.n.active {
    border-bottom-color: goldenrod;
} 

.arrow.top-left-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: grey;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  top: 0px;
  left: 9.166vh;
}

.arrow.top-right-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: grey;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  top: 0px;
  right: 9.166vh;
}

.arrow.ne {
  width: 0;
  height: 0;
  border-bottom-width: 2vh; /*sets height*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-width: 2vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  right: 0px;
  top: 0px;
}

.arrow.ne.active {
    border-right-color: goldenrod;
} 

.arrow.e {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  right: -1vh;
  bottom: 10vh
}

.arrow.e.active {
    border-left-color: goldenrod;
}

.arrow.right-top-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: gray;
  right: 0px;
  bottom: 11.414vh;
}

.arrow.right-bottom-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: gray;
  right: 0px;
  bottom: 8.586vh;
}

.arrow.se {
  width: 0;
  height: 0;
  border-top-width: 2vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 2vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  right: 0px;
  bottom: 0px;
}

.arrow.se.active {
    border-right-color: goldenrod;
} 

.arrow.s {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  bottom: 0px;
}

.arrow.s.active {
    border-top-color: goldenrod;
} 

.arrow.bottom-left-casing {
  width: 0;
  height: 0;
  border-bottom-width: 1.414vh; /*sets height*/
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  bottom: 0px;
  left: 9.166vh;
}

.arrow.bottom-right-casing {
  width: 0;
  height: 0;
  border-bottom-width: 1.414vh; /*sets height*/
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  bottom: 0px;
  right: 9.166vh;
}

.arrow.sw {
  width: 0;
  height: 0;
  border-top-width: 2vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-left-width: 2vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  left: 0px;
  bottom: 0px;
}

.arrow.sw.active {
    border-left-color: goldenrod;
} 

.arrow.w {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-width: 1.414vh; /*sets width*/
  border-right-style: solid;
  border-right-color: transparent;
  left: -1vh;
  bottom: 10vh
}

.arrow.w.active {
    border-right-color: goldenrod;
}

.arrow.left-top-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: gray;
  left: 0px;
  bottom: 11.414vh;
}

.arrow.left-bottom-casing {
  width: 0;
  height: 0;
  border-top-width: 1.414vh; /*sets height*/
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 1.414vh; /*sets width*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 1.414vh; /*sets width*/
  border-left-style: solid;
  border-left-color: gray;
  left: 0px;
  bottom: 8.586vh;
}

.arrow.nw {
  width: 0;
  height: 0;
  border-bottom-width: 2vh; /*sets height*/
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 2vh; /*sets width*/
  border-left-style: solid;
  border-left-color: transparent;
  left: 0px;
  top: 0px;
}

.arrow.nw.active {
    border-left-color: goldenrod;
} 