<div [id]="'card-' + id" class="card">
    <div *ngIf="displayStats" class="card-stats-container">
        <div class="arrow n"></div>
        <div class="arrow ne"></div>
        <div class="arrow e"></div>
        <div class="arrow se"></div>
        <div class="arrow s"></div>
        <div class="arrow sw"></div>
        <div class="arrow w"></div>
        <div class="arrow nw"></div>
        <div class="border n"></div>
        <div class="border e"></div>
        <div class="border s"></div>
        <div class="border w"></div>
        
        <div class="casing top-left"></div>
        <div class="casing top-right"></div>
        <div class="casing s left"></div>
        <div class="casing s right"></div>
        <div class="casing left-top"></div>
        <div class="casing left-bottom"></div>
        <div class="casing right-top"></div>
        <div class="casing right-bottom"></div>
        <div class="stat-row">
            <div class="stat">{{displayAttackPower}}</div>
            <div class="stat">{{cardStats.attackStyle}}</div>
            <div class="stat">{{displayPhysicalDefense}}</div>
            <div class="stat">{{displayMagicalDefense}}</div>
        </div>
    </div>
    <div *ngIf="displayBack" class="card-back">
        <img src="assets/card_back.png" alt="assets/favicon.png" />
    </div>
</div>
