<div [id]="'card-' + id" class="card">
    <div class="arrow n"></div>
    <div class="arrow ne"></div>
    <div class="arrow e"></div>
    <div class="arrow se"></div>
    <div class="arrow s"></div>
    <div class="arrow sw"></div>
    <div class="arrow w"></div>
    <div class="arrow nw"></div>
    <div class="border n"></div>
    <div class="border e"></div>
    <div class="border s"></div>
    <div class="border w"></div>
    <div class="arrow top-left-casing"></div>
    <div class="arrow top-right-casing"></div>
    <div class="arrow bottom-left-casing"></div>
    <div class="arrow bottom-right-casing"></div>
    <div class="arrow left-top-casing"></div>
    <div class="arrow left-bottom-casing"></div>
    <div class="arrow right-top-casing"></div>
    <div class="arrow right-bottom-casing"></div>
    <div class="stat-row">
        <div class="stat">{{displayAttackPower}}</div>
        <div class="stat">{{attackStyle}}</div>
        <div class="stat">{{displayPhysicalDefense}}</div>
        <div class="stat">{{displayMagicalDefense}}</div>
    </div>
</div>
