<app-card
    [id]="34"
    [cardDisplay]="cardDisplay.FRIEND"
    [cardStats]="cardStats"
    [isSelected]="false"
    [cardText]="testTextOne"
    (click)="setTimerOne()">
</app-card>
<app-card
    [id]="35"
    [cardDisplay]="cardDisplay.ENEMY"
    [cardStats]="cardStats"
    [isSelected]="false"
    [cardText]="testTextTwo"
    (click)="setTimerTwo()">
</app-card>
<button (click)="flipCoin()" style="margin:25px;">Flip Coin</button>
<div class="coin-image">
    <img [src]="coinImagePrefix + coinImageNumber + coinImageType" [alt]="coinImagePrefix + coinImageNumber + coinImageType" />
</div>